<%- include('../partials/header'); %>
<% if(dpImgUrl){ %>
    <%- include('../partials/navbarSigned', {dpImgUrl: dpImgUrl}); %>
<% } else{ %>  
    <%- include('../partials/navbar'); %>
<% } %>

<section class="pt-8 lg:pt-8 pb-8 lg:pb-8">
    <div class="container">
       <div class="flex flex-wrap -mx-4">
        <% for(var i=0; i<posts.length; i++) { %>
            <%- include('../partials/post', {id: posts[i]._id, imgUrl: posts[i].imgUrl, postDate: posts[i].postDate, postTitle: posts[i].postTitle, postDescription: posts[i].postDescription, postAuthor: posts[i].postAuthor}); %>
         <% } %>
        </div>
   </div>
</section>

<%- include('../partials/footer'); %>
