<%- include('../partials/header'); %> <%- include('../partials/navbarSigned', {dpImgUrl: dpImgUrl}); %>

<div class="bg-gray-100 min-h-screen">
  <div class="container mx-auto my-5 p-5">
    <div class="md:flex no-wrap md:-mx-2">
      <!-- Left Side -->
      <div class="w-full md:w-3/12 md:mx-2">
        <!-- Profile Card -->
        <div class="bg-white p-3 border-t-4 border-green-400">
          <div class="image overflow-hidden">
            <img
              class="h-28 w-28 rounded-full mx-auto"
              src=<%= dpImgUrl %>
              alt="dp"
            />
          </div>
          <h1 class="text-gray-900 text-center font-bold text-xl leading-8 my-1">
            <%= user %>
          </h1>
          <ul
            class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm"
          >
            <li class="flex items-center py-3">
              <span style="font-weight: bold">Member since</span>
              <span class="ml-auto"><%= memberSince %></span>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right Side -->
      <div class="w-full md:w-9/12 mx-2 h-64">
        <div class="bg-white p-3 shadow-sm rounded-sm">
            <div
              class="flex items-center space-x-2 font-semibold text-gray-900 leading-8"
            >
              <img src="https://img.icons8.com/ios/512/post-stamp.png" class="h-5" />
              <span class="tracking-wide">Create Post</span>
            </div>
            <form class="mt-4" method="POST" action="/post">
                <input type="text" name="title" placeholder="Write the post title here...." required id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <textarea
                    required
                    name="post"
                    id="message"
                    rows="4"
                    style="resize: none;"
                    class="block mt-3 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write your post here...."
                ></textarea>
                <button type="submit" class="mt-4 w-full bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Post
                </button>
            </form>
          </div>
        <div class="bg-white p-3 shadow-sm rounded-sm">
          <div
            class="flex items-center space-x-2 font-semibold text-gray-900 leading-8"
          >
            <img src="https://img.icons8.com/ios/512/post-stamp.png" class="h-5" />
            <span class="tracking-wide">Your Posts</span>
            <section class="pt-8 lg:pt-8 pb-8 lg:pb-8">
                <div class="container">
                   <div class="flex flex-wrap -mx-4">
                    <% for(var i=0; i<posts.length; i++) { %>
                        <%- include('../partials/post', {id: posts[i]._id, imgUrl: posts[i].imgUrl, postDate: posts[i].postDate, postTitle: posts[i].postTitle, postDescription: posts[i].postDescription, postAuthor: posts[i].postAuthor}); %>
                     <% } %>
                    </div>
               </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer'); %>
